nav{
    width: 100vw; 
   }
   
   .main-cont{
     margin: 0px;
     width: 100vw;
   }
   
   .cont-stock{
     text-align: left;
   }
   
   .row{
     width: 100vw;
   
   }
   
   .right {
     text-align: center;
     margin: 0px;
     width: 100vw;
     height: 100vh;
   }
   
   .left {
     border-left: 2px solid black;
     text-align: center;
     width: 100vw;
     height: 100vh;
   }
   
   
   h2{
     text-align: center;
   }
   
   .form-group{
     margin: auto;
     padding: 2vw;
     width: 40%;
   }
   
   .form-control{
     width: 100%;
     
   }
   
   .btn {
     margin: auto;
     width: 100%;
   }
   
   
   .tab button {
     background-color: inherit;
     float: left;
     border: 1px solid #ccc;
     outline: none;
     cursor: pointer;
     padding: 14px 16px;
     transition: 0.3s;
   }
   
   .tab button:hover {
     background-color: #ddd;
   }
   
   .tab button:active {
     background-color: silver;
   }