

body {
  width: 100%;
  height: 100%;
}

nav{
width: 100vw; 
}


.navbar-brand {
font-size: 1rem;
}


.main-cont{
  margin: 0px;
  width: 100vw;
  }
  


.cont-stock{
 text-align: left;
}

.row{
 width: 100vw;
}

.right {
 text-align: center;
 margin: 0px;
 width: 100vw;
 height: 100vh;
}

#error {
  color: red;
}

#lossUI {
  font-size: 3rem;

}

.Chart{
  margin: auto;
  height: 250px;
}

.left {
border-left: 2px solid black;
text-align: center;
width: 100vw;
height: 100%;
}

.end {
border-bottom: 2px solid black;
width: 100%;
}


h1{
 text-align: center;
 margin-top: 1%;

}

.form-group{
 margin: auto;
 padding: 2vw;
 width: 40%;
}

.form-control{
 width: 100%;
 
}

.btn {
 margin: auto;
 
}

#resetbutton {
margin-left: 3rem;
}