<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">`

  <title>STOCKS</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  {% load static %}

  <link rel="stylesheet" type="text/css" href="{% static '/stocks/style.css' %}">

</head>

<body>
  <form action = "" method = "POST">
    {% csrf_token %} 
    <label for="your_name">Your name: </label>
    <input id="your_name" type="text" name="your_name">
    <input type="submit" value="OK">

    <label for="player_year">Desired Year: </label>
    <input id="your_name" type="text" name="your_name">
    <input type="submit" value="OK">
  </form>

  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">IT IS CURRENTLY JANUARY</a>
    <a class="navbar-brand" href="#">NOAH CRESS, YOU CURRENTLY HAVE [] IN CASH, AND YOUR NET WORTH IS []</a>
    <a class="navbar-brand" href="#">YOUR NEXT DEADLINE IS MARCH</a>
  </nav>
  
  
  <div class="container main-cont">
    <div class="row">
      <div class="col-6 right">
        <div class="container ">
          <div class="row">
            <div class="col-12">
              <div class="tab">
                <button class="tablinks" onclick="openTab(event,'Chart')">Stock Chart</button>
                  <button id="NewsButton" class="tablinks" onclick="openTab(event,'News')">Stock News</button>
              </div>
             </div>
           </div>
          <div id="Chart" class="tabcontent">
            <canvas id="myChart">  </canvas>
          </div>
          <div id="News" class="tabcontent">
              
              <h1>
              UNDER CONSTRUCTION
              </h1>
  
              
            
            
            
          </div>
        </div>
      </div>
      <div class="col-6 left">
        <div class="container cont-stock">
          <h1>
            TBC:
          </h1>
          <h2>
            You have [] of TBC
          </h2>
          <form>
            <div class="form-group">
              
              <label for="buying_stock"> Buy TBC:</label> </br>
              <input type="text" class="form-control" id="[]_buy" placeholder="0" /> </br>         
            </div>
            <button type="submit" class="btn btn-primary mb-2">Confirm Purchase</button>
          </form>
          <form>
            <div class="form-group">
              
              <label for="selling_stock"> Sell TBC:</label> </br>
              <input type="text" class="form-control" id="[]_sell"  placeholder="0" /> </br>
            
            </div>
            <button type="submit" class="btn btn-primary mb-2">Confirm Sales</button>
          </form>
        </div>
      </div>
        
    </div>
   </div>
    
  
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
  <script
			  src="https://code.jquery.com/jquery-3.6.0.min.js"
			  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
			  crossorigin="anonymous"></script>
  



  <script src="{% static '/stocks/index.js' %}"></script>
</body>
</html>