<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">`

  <title>STOCKS</title>
  <meta name="description" content="THE STOCK GAME">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  {% load static %}

  <link rel="stylesheet" type="text/css" href="{% static '/stocks/style.css' %}">

</head>

<body >
  <form action = "" method = "POST">
    {% csrf_token %} 
    <label for="your_name">Your name: </label>
    <input id="your_name" type="text" name="your_name">
    <input type="submit" value="OK">

    <label for="player_year">Desired Year: </label>
    <input id="your_name" type="text" name="your_name">
    <input type="submit" value="OK">
  </form>

  
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand " id="ui" href="#">IT IS CURRENTLY {{ current_month }}</a>
    <a class="navbar-brand " id="ui" href="#">{{ player_name }} , YOU CURRENTLY HAVE {{ current_cash }} IN CASH, AND YOUR NET WORTH IS {{ player_worth }}</a>
    <a class="navbar-brand" id="ui" href="#">YOUR NEXT DEADLINE IS THE BEGINNING OF {{ target_month }}, YOUR NET WORTH MUST BE {{ worth_target }}</a>
  </nav>
  
  
  <div class="container main-cont">
    <div class="row">
      <div class="col-6 right">
        <div class="container ">
          <div class="row">
            <div class="col-12">
              <div class="tab">
                <button id="stockChartButton" class="tablinks" onclick="openTab(event,'Chart')">Stock Chart</button>
                  <button id="NewsButton" class="tablinks" onclick="openTab(event,'News')">Stock News</button>
              </div>
             </div>
           </div>

           <div id="News" class="tabcontent">
              
            <h1>
            UNDER CONSTRUCTION

            {{ data_1 }}

            {{ data_conf }}

            </h1>
          </div>

          
          {% for stock in stock_info %}
            

            

            <div id="Chart" class="tabcontent">
              <h1> {{ stock.stock_symbol }}</h1>
              <canvas id="myChart">  </canvas>
            </div>

          {% endfor %}  
        </div>
      </div>
      <div class="col-6 left">
        
        {% for stock in stock_info %}
          
            <h1>
              You have {{ stock.amount_owned }} of {{ stock.stock_symbol }}
            </h1>


            
            
          
            
                <form>
                  <div class="form-group">
                    <label for="buying_stock"> Buy stocks of {{ stock.stock_symbol }}:</label> </br>
                    <input type="text" class="form-control" placeholder="0" /> </br>         
                  </div>
                  <button type="submit" id="form-buy-{{ stock.stock_symbol }}" id="btn-buy-{{ stock.stock_symbol }}" onClick="buy-{{ stock.stock_symbol }}()" class="btn btn-primary mb-2">Confirm Purchase</button>
                </form>

                <form>
                  <div class="form-group">
                      
                    <label for="selling_stock"> Sell stocks of {{ stock.stock_symbol }}:</label> </br>
                    <input type="text" id="form-sell-{{ stock.stock_symbol }}" class="form-control"  placeholder="0" /> </br>
                    
                  </div>
                  <button type="submit" id="btn-sell-{{ stock.stock_symbol }}" onClick="sell-{{ stock.stock_symbol }}()" class="btn btn-danger mb-2">Confirm Sales</button>
                </form>
             <div class="end">
              
             </div>
              
         
        
        {% endfor %}


        
      </div>
        
    </div>
   </div>
 
  
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
  <script
			  src="https://code.jquery.com/jquery-3.6.0.min.js"
			  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
			  crossorigin="anonymous"></script>
  



  <script src="{% static '/stocks/index.js' %}"></script>
</body>
</html>